---
layout: layouts/base.njk
---

{# {%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
    <ol>
        Just a solid place to have a proper virtual identity.
    </div> #}
{{ content | safe }}